################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoApp/FileContentIndex
/DemoApp/obj/Debug
